<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/header') %>
  </head>
  <body>
    <%- include('partials/menu') %>
  <h1>Login</h1>

  <% if (error) { %>
    <p><%= error %></p>
  <% } %>
  <%- include('partials/login') %>
  <%- include('partials/script') %>
  <%- include('partials/footer') %>
</body>
</html>
